<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
    <body>
        <div style="margin: 200px 450px; vertical-align: center;border: 1px;width: 350px;height: 110px">
            <form action="{% url 'login:login_to' %}" method="post">
                <p>
                    <label>用户名：</label>
                    <input id="userName" name="userName" value="{{ username }}" placeholder="请输入用户名" onfocus="clearfrom();"/>
                    <span style="color: red" id="userNameMessage">{{ userNameMessage }}</span>
                </p>
                <p>
                    <label>密&nbsp;&nbsp;&nbsp;码：</label>
                    <input id="password" name="password" type="password" value="{{ password }}" placeholder="请输入密码" onfocus="clearfrom();"/>
                    <span style="color: red" id="passwordMessage">{{ passwordMessage }}</span>
                    <p style="color: red" id="message">{{ Message }}</p>
                </p>
                <p>
                    <button type="submit">登录</button>
                    <button type="reset" onclick="resetform()">重置</button>
                </p>
            </form>
        </div>
        <script>
            function resetform() {
                document.getElementById('userName').value='';
                document.getElementById('password').value='';
            }

            function clearfrom() {
                document.getElementById('userNameMessage').innerHTML='';
                document.getElementById('passwordMessage').innerHTML='';
                document.getElementById('message').innerHTML='';
            }
        </script>
    </body>
</html>